/**
 * @file
 * SCSS file to generate CSS.
 *
 * Footer SCSS.
 */

.footer {
  background: $black;
  position: relative;
  z-index: 0;
  margin: 0;
  padding: 0;
  .footer_nav {
    margin: 15px 0;
    li {
      float: left;
      a {
        color: $white;
        padding: 0;
        &:hover,
        &.is-active {
          background: transparent;
          border-bottom: 1px solid;
        }
      }
    }
  }
  .footer_bottom {
    padding: 0 0 10px 0;
    #block-copyright {
      p {
        font-size: 10px;
      }
    }
  }
}
