/**
 * @file
 * SCSS file to generate CSS.
 *
 * Site css
 */

.main-container {
  text-align: justify;
  background: $orange;
  position: relative;
  z-index: 0;
  padding: 20px 0;
}

.nav-tabs,
#block-registration-2 ul {
  margin-bottom: 20px;
  border-bottom: 1px solid $white;
  li {
    float: left;
    border: none;
    a {
      border-radius: 0;
      color: $white;
      margin: 0;
      border: none;
      &:hover,
      &:focus {
        background: transparent;
        border: none;
        color: $dark-grey;
      }
      &.is-active {
        background: $white;
        color: $dark-grey;
        border: none;
      }
    }
    &.active {
      border: none;
    }
  }
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.page-header {
  border-bottom: none;
  font-size: 30px;
  margin-top: 0;
  text-transform: uppercase;
  margin-top: 0;
}

@media (max-width: 480px) {
  .nav-tabs li { width: 100%; }
}
