/**
 * @file
 * SCSS file to generate CSS.
 *
 * Inner page SCSS
 */

 .page-node-type-register-pages .tabs { display:none; }

.path-gym-profile .page-header { display: none; }
.path-gym-profile,
.page-node-type-gym-info {
  article {
    h2 {
      margin-bottom: 20px;
      a {
        color: $white;
        margin-top: 0;
        text-transform: uppercase;
      }
    }
    .field {
      margin-bottom: 10px;
      .field--label {
        width: 200px;
        float: left;
      }
      .field--item {
        padding-left: 200px;
      }
    }
  }
}

.path-user {
  .tabs {
    li:nth-child(2) { display: none; }
  }
}

.view-discover-gym {
  .views-col {
    margin-right: 20px;
    .views-field-title {
      text-align: left;
      background: rgba(0,0,0,0.5);
      a {
      color: $white;
      padding:5px 10px;
      width: 100%;
      display: block;
    }
  }
  }
}
#block-amountblock {
  margin-bottom: 20px;
  font-size: 20px; 
  margin-top: 20px;
  .block-title { display: none; }
}
