/**
 * @file
 * SCSS file for variables.
 *
 * All variables used in SCSS are defined in this file.
 */

/* Color code */
$white: #FFF;
$black: #000;
$orange: #EC3642;
$grey: #343434;
$dark-grey: #171717;
